a{
    text-decoration: none;
}

/*Estado do link após este ser clicado e após ser clicado*/
#cabeçalho a:link, #cabeçalho a:visited{
    color: #fff;    /*Cor dos links do menu*/
    padding: 8px 12px; /*Espaçamento dos links do menu*/
}

/*Estado do link quando se passa o cursor*/
#cabeçalho a:hover{
    color: #f7b600;
    background: #fff;
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

#cabeçalho{
    background-color: #f7b600; /*Cor de fundo do cabeçalho*/
    padding: 15px; /*Espaçamento interno cabeçalho*/
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens{
    background-color: white;
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    font-weight: bold;

}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
}

h2{
    color: #f7b600;
}

h3{
    background-color: #ccc;
    color: #565656;
    padding: 5px;
}

.data{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.conteudo-lateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}